@{
    ViewBag.Title = "Index";
}
<div class="page-content fade-in-up">
    <div class="ibox mt-3">
        <div class="ibox-head">
            <div class="ibox-title col-md-3">Danh sách nhóm</div>
            <div class="btn-group btn-rounded">
                <button class="btn btn-success" onclick="window.location ='/ListGroup/Create'">Thêm mới</button>
                <button class="btn btn-danger" onclick="js_acceptUpdate();">Cập nhật</button>
                <button class="btn btn-default" data-toggle="modal" data-target="#myModal1">Xóa</button>
            </div>
        </div>
        <div class="ibox-body" id="div-content">
            @Html.Partial("~/Views/ListGroup/Tables/__tblIndex.cshtml")
        </div>
    </div>
</div>
<script>
    $(function () {
        js_GetList();
    });
    function js_ReloadTable() {
        $('#example-table')
            .DataTable({
                "pageLength": 10,
                columnDefs: [],
                "orderClasses": false,
                "deferRender": true,

                autoWidth: false,
                bAutoWidth: false,
                "searching": false,
                responsive: false,
                order: [],
                "language": {
                    "emptyTable": "Không có dữ liệu !"
                }
            });
    }
    function js_GetList() {
        window.scrollTo(0, 0);

        $.ajax({
            url: '/ListGroup/getList',
            type: 'POST',
            data: JSON.stringify({}),
            contentType: 'application/json, charset=utf-8',
            beforeSend: function () {
                js_Loading(true, 1);
            },
            success: function (data) {
                $('#div-content').html(data);
                js_ReloadTable();
                js_Loading(false, 1);
            },
            error: function () {
                js_Loading(false, 1);
            }
        });
    }
</script>